<ng-container>
  <mat-toolbar class="mat-elevation" color="primary">
    <span>WEM - Web Mining</span>
  </mat-toolbar>

  <div class="container is-fluid mat-drawer-container" style="margin:0px; height:100%; overflow: auto"
       id="basic_container">
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="form has-text-centered">
          <mat-form-field class="full-width " appearance="outline">
            <mat-label>Url</mat-label>
            <input matInput placeholder="Url" type="text" autocomplete="off" (change)="search($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div style="float: right">
        <button class="mat-raised-button"
                (click)="displayAllStatCategory()">Stat all documents
        </button>
        <br>
        <button class="mat-raised-button" style="margin-top: 15px"
                (click)="displayCompareCategory()">Stat all categories
        </button>
      </div>
    </div>

    <app-loading-screen></app-loading-screen>
    <div class="columns" style="margin: 0 20px" [hidden]="!data.length">
      <div class="column is-6">
        <div *ngFor="let objet of data">
          <div style="font-size: 1.3em">
            <span>
              <a href="{{objet.id}}" target="_blank">{{objet.id}}</a>
              <span class="linkDoc"> [</span>
              <span *ngFor="let document of objet.documents ; index as i"><a
                href="{{objet.pdf_link}}" style="display: inline;">{{document.type}}
                <ng-container *ngIf="i<objet.documents.length-1">,  </ng-container></a>
              </span>
              <span class="linkDoc">]</span>
              <mat-chip-list style="display: inline-block">
                <mat-chip *ngFor="let category of objet.categories"
                          (click)="displayStatCategory(category,objet)">{{category}}</mat-chip>
              </mat-chip-list>
              <span>similarity: {{objet.similarity}}</span>
            </span>
            <h1 class=" title" style="font-size: 1.3em">{{objet.title}}</h1>
            <span>
              <strong>Authors</strong>:
              <span *ngFor="let author of objet.authors; index as i">{{author}} <span
                *ngIf="objet.authors.length-1>i">, </span></span>
            </span>
            <div><strong>Summary</strong>: {{objet.summary}}</div>
          </div>

          <mat-divider></mat-divider>
          <br>
        </div>
        <div class="level">
          <div class="level-item level-left" style="margin-top: 20px" [ngClass]="displayPaginatorStyle()">
            <mat-paginator style="background:none"
                           [length]="totalResult"
                           [pageSize]="pageSize"
                           [pageSizeOptions]="[10, 15, 25, 50, 100]">
            </mat-paginator>
          </div>
        </div>
        <br style="margin-bottom: 60px">

      </div>
      <!--<div class="column is-4">
        <mat-list *ngFor="let d of data">
          <mat-list-item>{{d}}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div> -->
      <div class="column is-6">
        <div *ngIf="statsCategory.length">
          <button mat-icon-button aria-label="Close graph" (click)="closeStat()"
                  style="position: fixed;right: 0;margin-right: 50px;margin-top: 70px; z-index: 1000">
            <mat-icon>close</mat-icon>
          </button>
          <div style="display: block" class="stat">
            <h1 class="title">{{docStatSelected.title}}</h1>
            <canvas baseChart
                    [datasets]="statsCategory"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
